@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#header {
    background-color: white;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .3)
}

#header .nav-link.active, #header .nav-link:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff
}

#footer {
    background: #1b1f25;
    text-align: center;
    padding: 1rem;
    color: hsla(0, 0%, 100%, .5);
    font-size: 90%
}

body, html {
    min-height: 100%
}

* {
    box-sizing: border-box
}

body {
    background: #282828;
    color: white;
    font: 15px/1.5 Open Sans, sans-serif;
    margin: 0;
    padding: 0
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

#app main {
    flex: 1 1
}

.loading {
    margin: 100px auto 0;
    display: block;
    text-align: center
}

.loading svg {
    width: 100px;
    height: 100px
}

#dashboard .channels {
    width: 600px;
    max-width: 100%;
    margin: 30px auto;
    border: 1px solid #1a1d23
}

#dashboard .channels .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: #1e2229
}

#dashboard .channels .header .alert {
    flex: 1 1;
    text-align: center;
    padding: 0 15px
}

#dashboard .channels .header .alert a {
    color: #ff4500;
    text-decoration: none
}

#dashboard .channels .channel {
    padding: 7px 15px;
    display: flex;
    flex-direction: row;
    align-items: center
}

#dashboard .channels .channel:not(.header) {
    cursor: pointer
}

#dashboard .channels .channel:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1)
}

#dashboard .channels .channel:hover {
    background-color: hsla(0, 0%, 100%, .05)
}

#dashboard .channels .channel.toggle {
    text-align: center;
    justify-content: center;
    background-color: #1a1d23;
    border-top: 1px solid #1a1d23
}

#dashboard .channels .channel .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px
}

#dashboard .channels .channel .avatar .image {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: 50%;
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%
}

#dashboard .channels .channel .details {
    flex: 1 1;
    display: flex;
    min-width: 0
}

#dashboard .channels .channel .details .name {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0
}

#dashboard .channels .channel .details .name .stream_title {
    display: none;
    font-size: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 45px;
    color: #f5f5f5;
}

#dashboard .channels .channel .details .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80%;
    color: #ffffff
}

#dashboard .channels .channel .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -2px 0 0 10px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    display: none
}

#dashboard .channels .channel.online .name .stream_title {
    display: block
}

#dashboard .channels .channel.online .dot {
    display: inline-block
}

#dashboard .channels .channel.me.online .dot {
    background-color: yellow;
}

#dashboard .channels .channel.online.youtubee .dot {
    background-color: #a7c9f2;
}


#dashboard .channels .channel.online.dlive .dot {
    background-color: Yellow;
}

#dashboard .channels.channel.youtube .dot {
    background-color: green;
}

#dashboard .channels .channel.online.mixer .dot {
    background-color: Yellow
}

#dashboard .channels .channel.online.mixerrr .dot {
    background-color: lightblue
}

@media (max-width: 600px) {
    #dashboard .channels {
        width: 100%;
        margin: auto;
        border: 0
    }

    #dashboard .channels .header .name, #dashboard .channels .header .status {
        display: none
    }

    #dashboard .channels .channel.toggle {
        border-bottom: 1px solid #1a1d23
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px; /* Used to enable scrolling */
}

#message_bar {
    cursor: pointer;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    text-align: center;
    padding: 3px 3px 3px 3px;
}

#show_message_bar {
    cursor: pointer;
    display: none;
    background: #000;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 30px;
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%, 0% {
        transform: scale(1.0);
    }
}

.loader{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
}

#dashboard,#logo{
    display: none;
}